body{
    background-color: #F5F5F5;
}
.red{
    color: red;
}
#links{
    color: red;
    text-decoration: none;
    transition: .5s;

}
#links:hover{
    color: #c00000;
    transition: .6s;
    
}

#login{
    /* border: 1px solid red; */
    /* border-radius: 9px; */
    margin-top: 15vh;
    padding: 10px;
}
.form-control:focus, .form-select:focus{
    border-color: #FF0000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;

}
#label{
    color: red;
    font-size: 1.2em;
    font-weight: 500;
    margin: .5em 0 .3em 0;
}
#register_link{
    text-decoration: none;
    color: red;
    transition:.3s;
}
#register_link:hover{
    text-decoration: none;
    color: #c00000;
    transition:.5s;

}
#password{
    margin-bottom: .6em;
}

.alert{
    margin-bottom: -15vh;
}
.dropdown-item:hover{
    background-color: #dcd7d7;
}
.dropdown-item:focus{
    background-color: red;
    color: white !important;
}
.dropdown-menu{
    border: 1px solid red;
    background-color: #F5F5F5;
}

#icon{
    color: red ;
    border-color: red;
}
#icon:hover{
    background-color: red;
    color: #F5F5F5;
}
#icons{
    font-size: 20px;
}
#pageNav{
    font-size: 24px;
    padding: 8px;
    color: #2b0101;
    transition: .35s;
}
#pageNav:hover{
    font-size: 24px;
    padding: 8px;
    color: red;
    transition: .35s;
}
.form-group {
position: relative;
margin-bottom: 1rem;
}

.form-control-placeholder {
position: absolute;
top: 0;
padding: 7px 0 0 13px;
transition: all 200ms;
opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
font-size: 75%;
transform: translate3d(0, -100%, 0);
opacity: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");:root{--header-height: 3rem;--nav-width: 68px;--first-color: black;--first-color-light: #AFA5D9;--white-color: #f5f5f5;--body-font: 'Nunito', sans-serif;--normal-font-size: 1rem;--z-fixed: 100}*,::before,::after{box-sizing: border-box}body{position: relative;margin: var(--header-height) 0 0 0;padding: 0 1rem;font-family: var(--body-font);font-size: var(--normal-font-size);transition: .5s}a{text-decoration: none}.header{width: 100%;height: var(--header-height);position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;background-color: #f5f5f5;z-index: var(--z-fixed);transition: .5s}.header_toggle{color: red;font-size: 1.5rem;cursor: pointer}.header_img{width: 35px;height: 35px;display: flex;justify-content: center;border-radius: 50%;overflow: hidden}.header_img img{width: 40px}.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);height: 100vh;background-color: var(--first-color);padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow: hidden}.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}.nav_logo{margin-bottom: 2rem}.nav_logo-icon{font-size: 1.25rem;color: #f5f5f5}.nav_logo-name{color: #F5F5F5;font-weight: 700}.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1.5rem;transition: .3s}.nav_link:hover{color: red}.nav_icon{font-size: 1.25rem}.show{left: 0}.body-pd{padding-left: calc(var(--nav-width) + 1rem)}.active{color: #f5f5f5}.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: red}.height-100{height:100vh}@media screen and (min-width: 768px){body{margin: calc(var(--header-height) + 1rem) 0 0 0;padding-left: calc(var(--nav-width) + 0rem)}.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}.header_img{width: 40px;height: 40px}.header_img img{width: 45px}.l-navbar{left: 0;padding: 1rem 1rem 0 0}.show{width: calc(var(--nav-width) + 156px)}.body-pd{padding-left: calc(var(--nav-width) + 156px)}}

.modal-backdrop, #exampleModal, #exampleModal1 {
    width: 100%;
}

.gray{
    color: black;
}

.avaliable{
    color:#00ae00;
    font-weight: 600;
}

.not-avaliable{
    color:#ae0e00;
    font-weight: 600;
}

.primary{
    color:#0101cd;
    font-weight: 600;
}
.card-body{
    background-color: #F5F5F5;
    border-color:red;
}
#livros_title{
    margin-bottom: 5vh;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 10em;
    /* background-position:10% 43%; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: 53% 66%;
    background-image:url('/imgs/booksbackground3.png');
    
}
#livros_title h1{
    padding: 1.5em;
    color: red;
    font-weight: 600;
}
#book_cover{
    /* border: 1px solid red;  */
    height: 24em;
    width: auto;
    /* background-image: url(/assets/imgs/pj22.jpg); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}