body{
    background-color: #F5F5F5;
}
#login{
    /* border: 1px solid red; */
    /* border-radius: 9px; */
    margin-top: 18vh;
    padding: 10px;
}
.form-control:focus{
    border-color: #FF0000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;

}
#label{
    color: red;
    font-size: 1.2em;
    font-weight: 500;
    margin: .5em 0 .3em 0;
}
#register_link{
    text-decoration: none;
    color: red;
    transition:.3s;
}
#register_link:hover{
    text-decoration: none;
    color: #c00000;
    transition:.5s;

}
#password{
    margin-bottom: .6em;
}

.alert{
    margin-bottom: -15vh;
}
.dropdown-item:focus{
    background-color: red;
    color: white !important;
}
.dropdown-menu{
    border: 1px solid red;
    background-color: #F5F5F5;
}